# == Unity (oficial, limpio) ==
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/
/[Rr]ecordings/

# (Descomenta si quieres ignorar Asset Store Tools)
# /[Aa]ssets/AssetStoreTools*

# JetBrains Rider plugin autogenerado
/[Aa]ssets/Plugins/Editor/JetBrains*

# IDE / build systems
.vs/
.gradle/
ExportedObj/
.consulo/

# Archivos de solución y proyectos autogenerados por Unity/IDE
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Metas generadas por Unity
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Reporte de crash de Unity
sysinfo.txt

# Builds y directorios de build
/[Bb]uild/
/[Bb]uilds/
*.apk
*.aab
*.app
*.unitypackage

# Crashlytics
crashlytics-build.properties

# Addressables (binarios empaquetados)
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Android StreamingAssets temporales
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Rider / IntelliJ
.idea/
*.sln.iml

# SO
.DS_Store
Thumbs.db
desktop.ini